* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: sans-serif;
    background-image: url("../assets/images/fondo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 80px;
    background: linear-gradient(to bottom, #ff0000, #ffaa00);
}

header h1 {
    color: #ffffbb;
}

main {
    height: auto;    
}

form {
    width: 96%;
    height: auto;
    background-color: #f9f9f9;
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
    line-height: 3rem;
}

form h2 {
    display: flex;
    align-items: center;
}

.cuadradoIcon {
    background-image: url("../assets/icons/icons8-square-full-32.png");
}

.rectanguloIcon {
    background-image: url("../assets/icons/icons8-rectángulo-32.png");
}

.circuloIcon {
    background-image: url("../assets/icons/icons8-100-por-ciento-32.png");
}

.cuadradoIcon, .rectanguloIcon, .circuloIcon {
    display: block;
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 1.8rem;
}

button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
    border: 1px solid #777777;
    margin-top: 1rem;
    border-radius: 1rem;
    background-color: #fff;
}

footer {
    width: 100%;
    min-height: 50px;
    background: linear-gradient(to top, #ff0000, #ffaa00);
}



@media (min-width: 400px) {
    form {
        width: 80%;
    }
}

@media (min-width: 500px) {
    form {
        width: 70%;
    }
}

@media (min-width: 700px) {
    form {
        width: 60%;
    }
}

@media (min-width: 900px) {
    form {
        width: 50%;
    }
}
